<aside id="column-right" class="side-column">
    <div class="grid-rows">
        <div class="grid-row grid-row-column-right-1">
            <div class="grid-cols">
                <div class="grid-col grid-col-column-right-1-1">
                    <div class="grid-items">
                        <div class="grid-item grid-item-column-right-1-1-1">
                            <div class="accordion-menu accordion-menu-126">
                                <ul class="j-menu">
                                    <li class="menu-item accordion-menu-item accordion-menu-item-1">
                                        <a href="@Url.Action("Index","Account")">
                                            <span class="links-text">Hesabım</span>
                                        </a>
                                    </li>

                                    <li class="menu-item accordion-menu-item accordion-menu-item-2">
                                        <a href="@Url.Action("Index","Address")">
                                            <span class="links-text">Adreslerim</span>
                                        </a>
                                    </li>
                                    
                                    <li class="menu-item accordion-menu-item accordion-menu-item-3">
                                        <a href="@Url.Action("Index","ShoppingList")">
                                            <span class="links-text">Favorilerim</span><span class="count-badge wishlist-badge count-zero">0</span>
                                        </a>
                                    </li>

                                    <li class="menu-item accordion-menu-item accordion-menu-item-4">
                                        <a href="@Url.Action("Index","Orders")">
                                            <span class="links-text">Siparişlerim</span>
                                        </a>
                                    </li>

                                    <li class="menu-item accordion-menu-item accordion-menu-item-5">
                                        <a href="@Url.Action("Index","AddReturnRequest")">
                                            <span class="links-text">İadelerim</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>