<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>Yönetim</title>
    
    <link href="/WebAdminTheme/css/bootstrap.min.css" rel="stylesheet">
    <link href="/WebAdminTheme/css/bootstrap-reset.css" rel="stylesheet">
    <link href="/WebAdminTheme/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/WebUITheme/css/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/WebAdminTheme/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="/WebAdminTheme/stylesheet" href="css/owl.carousel.css" type="text/css">
    <link href="/webadmintheme/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="/WebAdminTheme/css/style.css" rel="stylesheet">
    <link href="/WebAdminTheme/css/style-responsive.css" rel="stylesheet" />
    <link href="/WebAdminTheme/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
    <link href="/WebAdminTheme/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
    <link href="/WebAdminTheme/css/select2.css" rel="stylesheet" />
    <link href="/WebAdminTheme/css/jquery-ui.css" rel="stylesheet">
    <link href="/WebAdminTheme/js/datepicker/date_time_picker.css" rel="stylesheet">
    <link href="/WebAdminTheme/js/datepicker/css/datepicker.css" rel="stylesheet">
    <link href="/WebAdminTheme/assets/bootstrap-fileupload/bootstrap-fileupload.css" rel="stylesheet" />
    @RenderSection("Css", false)

</head>
<body>
    <section id="container">
        <header class="header white-bg">
            <div class="sidebar-toggle-box">
                <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
            </div>
            <a href="@Url.Action("Index","AdminAnaSayfa")" class="logo">WEB<span>YÖNETİM</span></a>

            <div class="top-nav ">
                <ul class="nav pull-right top-menu">
                    @if (ViewBag.LisansKalanGun != null)
                    {
                        <li>
                            <p style="margin-top: 10px; color:red">Lisans Süresi : @ViewBag.LisansKalanGun Gün</p>
                        </li>
                    }
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            @*<img alt="" src="/WebAdminTheme/img/profile-avatar.jpg">*@
                            <span class="username">Admin</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"> </div>
                            <li><a href="@Url.Action("Index","Login")"><i class="icon-warning"></i> Çıkış</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </header>        <aside>
            <div id="sidebar" class="nav-collapse ">
                <ul class="sidebar-menu" id="nav-accordion">
                   <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-user"></i>
                            <span>Ana Sayfa</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminAnaSayfaBannerMetin")"><i class="icon-angle-up"></i>Ana Sayfa Banner Yazı </a></li>

                        </ul>
                         <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminAnaSayfaBannerResim")"><i class="icon-angle-up"></i>Ana Sayfa Banner Resim</a></li>

                        </ul>
                      
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminAnaSayfaResim")"><i class="icon-angle-up"></i>Ana Sayfa Resim</a></li>

                        </ul>
                    </li>
              <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="icon-file-text"></i>
                        <span>E-Fatura</span>
                    </a>
                    <ul class="sub">
                        <li><a href="@Url.Action("Index","AdminEFatura")"><i class="icon-angle-up"></i>Fatura Kes</a></li>

                    </ul>
                    <ul class="sub">
                        <li><a href="@Url.Action("Index","AdminEDMBilgileri")"><i class="icon-angle-up"></i>EDM Bilgileri</a></li>
                    </ul>
                </li>  
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Hakkımızda</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminHakkimizdaBilgileri")"><i class="icon-angle-up"></i>Hakkımızda Bilgileri</a></li>

                        </ul>
                  @*       <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminHakkimizdaFotograf")"><i class="icon-angle-up"></i>Hakkımızda Fotoğrafları</a></li>

                        </ul> *@
                @*         <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminLogo")"><i class="icon-angle-up"></i>Firma Logo</a></li>

                        </ul> *@
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Üyelik Sözleşmesi</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUyelikSozlesmesi")"><i class="icon-angle-up"></i>Üyelik Sözleşmesi Bilgileri</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Gizlilik Politikası</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminGizlilikPolitikasi")"><i class="icon-angle-up"></i>Gizlilik Politikası</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>İade Koşulları</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminIade")"><i class="icon-angle-up"></i>İade Koşulları</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Kullanım Koşulları</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminKullanimKosullari")"><i class="icon-angle-up"></i>Kullanım Koşulları</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Bayilik Koşulları</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminBayilik")"><i class="icon-angle-up"></i>Bayilik Koşulları</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-envelope-alt"></i>
                            <span>İletişim Bilgileri</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminIletisimBilgileri")"><i class="icon-angle-up"></i>İletişim Bilgileri</a></li>

                        </ul>
                  @*       <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminIletisimFotograf")"><i class="icon-angle-up"></i>İletişim Fotoğrafları</a></li>

                        </ul> *@
                    
                    </li>
             
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-user-md"></i>
                            <span>Kullanıcı Bilgileri</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminKullanicilar")"><i class="icon-angle-up"></i>Kullanıcılar</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-user-md"></i>
                            <span> Üyeler Bilgileri</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUyeler")"><i class="icon-angle-up"></i>Üyeler</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Depo</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminDepo")"><i class="icon-angle-up"></i>Depo</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Cari</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminCariHesap")"><i class="icon-angle-up"></i>Cari</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-file-text-alt"></i>
                            <span>Kasa</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminKasa")"><i class="icon-angle-up"></i>Kasa</a></li>

                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-user-md"></i>
                            <span>Ürün</span>
                        </a>
                     
             
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunStok")"><i class="icon-angle-up"></i>Ürün Stok</a></li>

                        </ul>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunAnaKategori")"><i class="icon-angle-up"></i>Ürün Ana Kategori</a></li>

                        </ul>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunTipBilgileri")"><i class="icon-angle-up"></i>Ürün Alt Kategori</a></li>

                        </ul>
                 
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunBilgileri")"><i class="icon-angle-up"></i>Ürün Bilgileri</a></li>

                        </ul>

                        <ul class="sub">
                            <li><a href="@Url.Action("Index","PazarYerleriUrunEkle")"><i class="icon-angle-up"></i>Pazar Yeri Ürün Ekle</a></li>
                            <li><a href="@Url.Action("Index","PazarYerleriUrun")"><i class="icon-angle-up"></i>Pazar Yeri Ürün Listele</a></li>

                        </ul>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunFotografBilgileri")"><i class="icon-angle-up"></i>Ürün Resim</a></li>

                        </ul>
         
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunAnaKategoriFotograf")"><i class="icon-angle-up"></i>Ana Kategori Resim</a></li>

                        </ul>
                    
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminUrunAltKategoriFotograf")"><i class="icon-angle-up"></i>Alt Kategori Resim</a></li>

                        </ul>
                      
                        </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span> Sipariş</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminSiparis")"><i class="icon-shopping-cart"></i>Siparişler</a></li>
                            <li><a href="@Url.Action("Index","AdminMisafirSiparis")"><i class="icon-shopping-cart"></i>Misafir Siparişler</a></li>
                            <li><a href="@Url.Action("Index","AdminSiparisKargoTakip")"><i class="icon-gift"></i>Kargo Takip</a></li>
                            <li><a href="@Url.Action("Index","AdminMisafirSiparisKargoTakip")"><i class="icon-gift"></i>Misafir Sipariş Kargo Takip</a></li>
                        </ul>
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span>İndirim</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","SepetIndirim")"><i class="icon-shopping-cart"></i>Sepet İndirim</a></li>
                            <li><a href="@Url.Action("Index","AdminIndırımKodu")"><i class="icon-shopping-cart"></i>İndirim Kodu Tanımla</a></li>
                        </ul>
                      
                    </li>

                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span>Kargo Ücreti</span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminKargoUcret")"><i class="icon-shopping-cart"></i>Kargo Ücreti</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminAcilKargoUcret")"><i class="icon-shopping-cart"></i>Acil Kargo Ücreti</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="icon-shopping-cart"></i>
                            <span>Pazar Yerleri </span>
                        </a>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index","AdminPazarYerleriGirisBilgileri")"><i class="icon-shopping-cart"></i>Bağlantı Bilgileri</a></li>
                        </ul>
                        <ul class="sub">
                            <li><a href="@Url.Action("Index", "AdminN11")"><i class="icon-shopping-cart"></i>N11 Ürünleri</a></li>
                            <li><a href="@Url.Action("Index", "AdminFarmaBorsa")"><i class="icon-shopping-cart"></i>Farma Borsa Ürünleri</a></li>
                            <li><a href="@Url.Action("Index", "AdminFarmazon")"><i class="icon-shopping-cart"></i>Farmazon Ürünleri</a></li>
                            <li><a href="@Url.Action("Index", "AdminPTT")"><i class="icon-shopping-cart"></i>PTT Ürünleri</a></li>
                        @*     <li><a href="@Url.Action("Index", "AdminCicekSepeti")"><i class="icon-shopping-cart"></i>Çiçek Sepeti Ürünleri</a></li> *@
                            <li><a href="@Url.Action("Index", "AdminIdefix")"><i class="icon-shopping-cart"></i>İdefix Ürünleri</a></li> 
                            <li><a href="@Url.Action("Index", "AdminTrendyol")"><i class="icon-shopping-cart"></i>Trendyol Ürünleri</a></li>
                            <li><a href="@Url.Action("Index", "AdminGoTurc")"><i class="icon-shopping-cart"></i>GoTurc Ürünleri</a></li>
                           <li><a href="@Url.Action("Index", "AdminPazarama")"><i class="icon-shopping-cart"></i>Pazarama Ürünleri</a></li> 
                        </ul>

                    </li>
             


                </ul>
            </div>
        </aside>
        <section id="main-content">
            @RenderBody()
        </section>
    </section>

    <footer class="site-footer">
        <div class="text-center">
            <a href="https://speedsoft.com.tr/" target="_blank">
                Designed By SpeedSoft
            </a>
            <a href="#" class="go-top">
                <i class="icon-angle-up"></i>
            </a>
        </div>
    </footer>

    <script src="/WebAdminTheme/js/jquery.js"></script>
    <script src="/WebAdminTheme/js/jquery-2.2.4.min.js"></script>
    <script src="/WebAdminTheme/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/WebAdminTheme/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/WebAdminTheme/js/jquery.scrollTo.min.js"></script>
    <script src="/WebAdminTheme/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="/WebAdminTheme/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/WebAdminTheme/js/owl.carousel.js"></script>
    <script src="/WebAdminTheme/js/jquery.customSelect.min.js"></script>
    <script src="/WebAdminTheme/js/respond.min.js"></script>
    <script src="/WebAdminTheme/js/common-scripts.js"></script>
    <script src="/WebAdminTheme/js/count.js"></script>
    <script type="text/javascript" language="javascript" src="/WebAdminTheme/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script src="/WebAdminTheme/js/jQuery-table2excel/src/jquery.table2excel.js"></script>
    <script src="/WebAdminTheme/js/select2.full.js"></script>
    <script src="/WebAdminTheme/js/jquery-ui.min.js"></script>
    <script src="/WebAdminTheme/js/datepicker/js/datepicker.js"></script>
    <script src="/WebAdminTheme/js/datepicker/js/i18n/datepicker.tr.js"></script>
    <script src="/WebAdminTheme/js/datepicker/js/bootstrap-timepicker.js"></script>
    <script src="/WebAdminTheme/assets/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="/WebAdminTheme/assets/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="/WebAdminTheme/assets/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="/WebAdminTheme/js/jQuery-Plugin-For-Number-Input-Formatting-Mask-Number/dist/jquery.masknumber.js"></script>
    <script src="/WebAdminTheme/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="/Webadmintheme/js/external-dragging-calendar.js"></script>
    <script src="/Webadmintheme/assets/ckeditor/ckeditor.js"></script>

    <script>

        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                autoPlay: true
            });
            $('.fileupload').fileupload();
            jQuery.browser = {};
            (function () {
                jQuery.browser.msie = false;
                jQuery.browser.version = 0;
                if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                    jQuery.browser.msie = true;
                    jQuery.browser.version = RegExp.$1;
                }
            })();
   
     


        });
            var oTable = $('#TblVeriler').dataTable( {
              "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 0 ] }
              ],
              "aaSorting": []
          });
    
        $(function () {
            $('select.styled').customSelect();
        });
    </script>
    @RenderSection("Script", false)
</body>
</html>
