@using WebApp.Models
<!DOCTYPE html>
<html dir="ltr" lang="tr" class="desktop win chrome chrome135 webkit oc30 is-guest route-common-home store-0 skin-1 desktop-header-active mobile-sticky layout-1" data-jb="14218c54" data-jv="3.1.8" data-ov="3.0.3.7">
<head typeof="og:website">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mirvanoğulları İnşaat ve Bahçepınar Su - www.mirvanogullari.com</title>
    <base href="WebUITheme/" />
    <link rel="preload" href="/WebUITheme/catalog/view/theme/journal3/icons/fonts/icomoon.woff2?v1" as="font" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <meta name="description" content="Mirvanoğulları İnşaat ve Bahçepınar Su olarak, kaliteli inşaat projeleri ve doğal kaynak suyu hizmetleri sunuyoruz. Detaylı bilgi için www.mirvanogullari.com adresini ziyaret edin." />
    <meta name="keywords"
    content="Mirvanoğulları, inşaat, Bahçepınar su, doğal su, yapı, müteahhit, konut, ticari, proje, su dağıtımı, içme suyu, www.mirvanogullari.com" />
    <meta property="fb:app_id" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mirvanoğulları İnşaat ve Bahçepınar Su" />
    <meta property="og:url" content="https://www.mirvanogullari.com/" />
    <meta property="og:image" content="/WebUITheme/image/cache/catalog/logo.png" />
    <meta property="og:image:width" content="1000" />
    <meta property="og:image:height" content="277" />
    <meta property="og:description"
    content="Mirvanoğulları İnşaat ve Bahçepınar Su olarak, kaliteli inşaat projeleri ve doğal kaynak suyu hizmetleri sunuyoruz. İnşaat sektöründeki tecrübemizle güvenilir ve modern yapılar inşa ederken, Bahçepınar Su ile doğal ve sağlıklı içme suyunu sizlere ulaştırıyoruz. Projelerimiz ve hizmetlerimiz hakkında daha fazla bilgi almak için www.mirvanogullari.com adresini ziyaret edebilirsiniz. Güvenli ödeme seçenekleri ve hızlı teslimat ile müşteri memnuniyetini ön planda tutuyoruz." />
    <meta name="twitter:card" content="summary" />

    <meta name="twitter:title" content="Mirvanoğulları İnşaat ve Bahçepınar Su" />
    <meta name="twitter:image" content="/WebUITheme/image/cache/catalog/logo.png" />
    <meta name="twitter:image:width" content="1000" />
    <meta name="twitter:image:height" content="277" />
    <meta name="twitter:description"
    content="Mirvanoğulları İnşaat ve Bahçepınar Su olarak, kaliteli inşaat projeleri ve doğal kaynak suyu hizmetleri sunuyoruz. İnşaat sektöründeki tecrübemizle güvenilir ve modern yapılar inşa ederken, Bahçepınar Su ile doğal ve sağlıklı içme suyunu sizlere ulaştırıyoruz. Projelerimiz ve hizmetlerimiz hakkında daha fazla bilgi almak için www.mirvanogullari.com adresini ziyaret edebilirsiniz. Güvenli ödeme seçenekleri ve hızlı teslimat ile müşteri memnuniyetini ön planda tutuyoruz." />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:700,400,500,600,300&amp;subset=latin-ext" type="text/css" rel="stylesheet" />
    <link href="/WebUITheme/catalog/view/javascript/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/style.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/icons/style.minimal.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/imagezoom/imagezoom.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/masterslider/style/masterslider.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/lightgallery/css/lightgallery.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/lightgallery/css/lg-transitions.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/swiper/swiper.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/stylesheet/style.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/WebUITheme/catalog/view/theme/journal3/lib/masterslider/skins/minimal/style.css" type="text/css" rel="stylesheet" media="all" />
    <link href="WebUITheme/" rel="canonical" />
    <link href="/WebUITheme/image/catalog/favicon.png" rel="icon" />    
    <link href="/WebUITheme/catalog/view/theme/css/style.css" rel="stylesheet" />
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/bootstrap/js/bootstrap.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/modernizr/modernizr-custom.js"></script>

    <script src="/WebUITheme/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/canvas-to-blob.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/load-image.all.min.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/vendor/jquery.ui.widget.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/jquery.iframe-transport.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/jquery.fileupload.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/jquery.fileupload-process.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/jquery.fileupload-image.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/jquery/upload/upload-helper.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/common.js"></script>

    <script src="/WebUITheme/catalog/view/theme/journal3/lib/anime/anime.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/vanilla-lazyload/lazyload.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/countdown/jquery.countdown.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/typeahead/typeahead.jquery.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/hoverintent/jquery.hoverIntent.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/cjs/cjs.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/masterslider/masterslider.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/imagezoom/jquery.imagezoom.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/lightgallery/js/lightgallery-all.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/lib/swiper/swiper.min.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/js/common.js"></script>
    <script src="/WebUITheme/catalog/view/theme/journal3/js/journal.js"></script>
    <script src="/WebUITheme/catalog/view/javascript/script.js"></script>
</head>

    @model dynamic
@{
    var anaKategoriler = ViewBag.AnaKategori as List<WebApp.Models.UrunAnaKategori>;
    // var altKategoriler = ViewBag.AltKategori as List<WebApp.Models.UrunAltKategori>;
    var random = new Random(); // For generating unique collapse IDs
}

<body style="background-color: white;">
    <div class="mobile-container mobile-main-menu-container">
        <div class="mobile-wrapper-header">
            <span>Menü</span>
            <div class="language-currency top-menu">
                <div class="mobile-currency-wrapper"></div>
                <div class="mobile-language-wrapper"></div>
            </div>
            <a class="x"></a>
        </div>
        <div class="mobile-main-menu-wrapper"></div>
    </div>

    <div class="mobile-container mobile-filter-container">
        <div class="mobile-wrapper-header"></div>
        <div class="mobile-filter-wrapper"></div>
    </div>

    <div class="mobile-container mobile-cart-content-container">
        <div class="mobile-wrapper-header">
            <span>Alışveriş Sepetim</span>
            <a class="x"></a>
        </div>
        <div class="mobile-cart-content-wrapper cart-content"></div>
    </div>

    <div class="site-wrapper">
        @if (ViewBag.AnaSayfaBannerMetin != null && ViewBag.AnaSayfaBannerMetin.Count > 0)
        {
            <div class="notice-module module module-header_notice module-header_notice-56" data-options='{"cookie":"9e4f882c","ease":"easeOutQuart","duration":"700"}'>

                <div class="module-body">
                    <div class="hn-body">
                        <div class="hn-content">
                            <div class="marquee">
                                <div class="marquee__content">
                                    @foreach (var item in ViewBag.AnaSayfaBannerMetin)
                                    {
                                        if (item != null && item.Metin != "" && item.Metin != "" && item.Metin != "")
                                        {
                                            <div class="marquee__item">
                                                <span class="bir">@Html.Raw(item.Metin)</span>
                                                <span class="marquee__seperator"></span>
                                            </div>
                                        }
                                    }
                                    @foreach (var item in ViewBag.AnaSayfaBannerMetin)
                                    {
                                        if (item != null && item.Metin != "" && item.Metin != "" && item.Metin != "")
                                        {
                                            <div class="marquee__item">
                                                <span class="bir">@Html.Raw(item.Metin)</span>
                                                <span class="marquee__seperator"></span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }    <header class="header-classic">
            <div class="header header-classic header-lg">
                <div class="top-bar navbar-nav">
                    <div class="top-menu top-menu-14">
                        <ul class="j-menu">
                            <li class="menu-item top-menu-item top-menu-item-1">
                                <a><span class="links-text">+90 532 637 50 86- WhatsApp Sipariş Hattı (09:00 - 00:00)</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="language-currency top-menu">
                        <div class="desktop-language-wrapper"></div>
                        <div class="desktop-currency-wrapper"></div>
                    </div>
                    <div class="third-menu">
                        <div class="top-menu top-menu-2">
                            <ul class="j-menu">
                                <li class="menu-item top-menu-item top-menu-item-1">
                                    <a href="@Url.Action("Index","Home")"><span class="links-text">Anasayfa</span></a>
                                </li>

                                <li class="menu-item top-menu-item top-menu-item-3">
                                    <a href="@Url.Action("Index","Contact")"><span class="links-text">Yardım</span></a>
                                </li>
                                @if (ViewBag.Uyeler == null)
                                {

                                    <li class="menu-item top-menu-item top-menu-item-4">
                                        <a href="@Url.Action("Index","Orders")"><span class="links-text">Siparişlerim</span></a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mid-bar navbar-nav">
                    <div class="desktop-logo-wrapper">
                        <div id="logo">
                            <a href="@Url.Action("Index","Home")">
                                <img src="/WebUITheme/image/cache/catalog/logo.png"
                                srcset="/WebUITheme/image/cache/catalog/logo.png 1x, /WebUITheme/image/cache/catalog/logo.png 2x"
                                width="1000"
                                height="277"
                                alt="Mirvanoğulları Bahçepınar Su"
                                title="Mirvanoğulları Bahçepınar Su" />
                            </a>
                        </div>
                    </div>
                    <div class="desktop-search-wrapper full-search default-search-wrapper">
                        <div id="search" class="dropdown">
                            <button class="dropdown-toggle search-trigger" data-toggle="dropdown"></button>
                            <div class="dropdown-menu j-dropdown">
                                <div class="header-search">
                                    <input type="text" name="search" value="" placeholder="Aradığınız ürünü yazınız..." class="search-input" data-category_id="" />
                                    <button type="button" class="search-button" data-search-url="WebUITheme/index.php?route=product/search&amp;search="></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="classic-cart-wrapper">
                        <div class="top-menu secondary-menu">
                            <div class="top-menu top-menu-240">
                                <ul class="j-menu">
                                    @if (ViewBag.Uyeler == null)
                                    {
                                        <li class="menu-item top-menu-item top-menu-item-1 dropdown drop-menu">
                                            <a class="dropdown-toggle" data-toggle="dropdown">
                                                <span class="links-text">
                                                    Hesabım <br />
                                                    <s>Giriş Yap/ Üye Ol</s>
                                                </span>
                                            </a>
                                            <div class="dropdown-menu j-dropdown">
                                                <ul class="j-menu">
                                                    <li class="menu-item top-menu-item-2">
                                                        <a href="javascript:void(0);" onclick="openPopup('login')"><span class="links-text">Giriş Yap</span></a>
                                                    </li>

                                                    <li class="menu-item top-menu-item-3">
                                                        <a href="javascript:void(0);" onclick="openPopup('register')"><span class="links-text">Üye Ol</span></a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </li>
                                    }
                                    @*Kullanıcı login olmasına göre aç kapat *@
                                    @if(ViewBag.Uyeler != null)
                                    {
                                        <li class="menu-item top-menu-item top-menu-item-3 dropdown drop-menu">
                                            <a href="@Url.Action("Index","Account")"
                                            class="dropdown-toggle"
                                            data-toggle="dropdown"><span class="links-text">Düzenle / Çıkış Yap</span></a>
                                            <div class="dropdown-menu j-dropdown">
                                                <ul class="j-menu">
                                                    <li class="menu-item top-menu-item-4">
                                                        <a href="@Url.Action("Index","Account")"><span class="links-text">Düzenle</span></a>
                                                    </li>

                                                    <li class="menu-item top-menu-item-5">
                                                        <a href="@Url.Action("Index","Orders")"><span class="links-text">Siparişlerim</span></a>
                                                    </li>

                                                    <li class="menu-item top-menu-item-6">
                                                        <a href=""><span class="links-text">Çıkış Yap</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>       
                                    }



                                    <li class="menu-item top-menu-item top-menu-item-4">
                                        <a href="@Url.Action("Index","ShoppingList")">
                                            <span class="links-text">
                                                Favorilerim <br />
                                                <s>Alışveriş Listem</s>
                                            </span>
                                            <span class="count-badge wishlist-badge count-zero">0</span>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div class="desktop-cart-wrapper default-cart-wrapper">
                            <div id="cart" class="dropdown">
                                <a data-toggle="dropdown" data-loading-text="Yükleniyor..." class="dropdown-toggle cart-heading" href="@Url.Action("Index","ShoppingCart")">
                                    @if(ViewBag.Sepet is List<dynamic> sepetList && sepetList.Any())
                                    {    
                                        decimal araToplam = 0;
                                        foreach (var item in sepetList)
                                        {
                                            decimal fiyat = item.Fiyat; // eğer zaten decimal ise
                                            araToplam += fiyat * item.Miktar;
                                        }


                                        decimal toplam = araToplam;

                                        <span id="cart-total"> @sepetList.Count Ürün @toplam.ToString("N2", System.Globalization.CultureInfo.CreateSpecificCulture("tr-TR"))TL </span>
                                    } 

                                    else
                                    {
                                        <span id="cart-total">Sepetim </span>
                                    }
                                    <i class="fa fa-shopping-cart"> </i>
                                    <span id="cart-items" class="count-badge count-zero">
                                        @(ViewBag.Sepet is List<dynamic> sepetListCount ? sepetListCount.Count : 0)
                                    </span>
                                </a>
                                <div id="cart-content" class="dropdown-menu cart-content j-dropdown">
                                    <ul>
                                        @if(ViewBag.Sepet is List<dynamic> sepetListContent && sepetListContent.Any())
                                        {
                                            <li class="cart-products">
                                                <table class="table">
                                                    <tbody>
                                                        @foreach (var item in sepetListContent)
                                                        {
                                                            if (item != null)
                                                            {
                                                                <tr>
                                                                    <td class="text-center td-image">
                                                                        <a href="@(item.UrunResmi ?? "")" title="@(item.UrunAdi ?? "")" target="_blank">
                                                                            <img src="@(item.UrunResmi ?? "")" alt="@(item.UrunAdi ?? "")" style="max-height:100px;" />
                                                                        </a>
                                                                    </td>
                                                                    <td class="text-left td-name">
                                                                        <a href="/ProductDetails/Index/@(item.UrunId ?? "")">@(item.UrunAdi ?? "")</a><br>
                                                                        <span>BEDEN</span><small>@(item.Beden?.Adi ?? "")</small><br>
                                                                        <span>BEDEN</span><small>@(item.Beden?.Adi ?? "")</small><br>
                                                                        <span>BODY KOL BOYU</span><small>@(item.KolBoyu ?? "")</small><br>
                                                                        <span>Ek Tasarım Metni</span><small>@(item.EkTasarimMetni ?? "")</small><br>
                                                                    </td>
                                                                    <td class="text-right td-qty">x @(item.Miktar ?? 0)</td>
                                                                    <td class="text-right td-total">@(item.Fiyat ?? 0)</td>
                                                                    <td class="text-center td-remove">
                                                                        <button type="button" onclick="cart.remove('5826');" title="Kaldır" class="cart-remove">
                                                                            <i class="fa fa-times-circle"></i>
                                                                        </button>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </li>
                                            <li class="cart-totals">
                                                <div>
                                                    @{
                                                        decimal araToplam = 0;
                                                        if (ViewBag.Sepet is List<dynamic> sepetListTotal)
                                                        {
                                                            foreach (var item in sepetListTotal)
                                                            {
                                                                if (item != null)
                                                                {
                                                                    decimal fiyat = item.Fiyat ?? 0; // eğer zaten decimal ise
                                                                    araToplam += fiyat * (item.Miktar ?? 0);
                                                                }
                                                            }
                                                        }
                                                        decimal toplam = araToplam;
                                                    }
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-right td-total-title">Toplam</td>
                                                                <td class="text-right td-total-text">@toplam.ToString("N2", System.Globalization.CultureInfo.CreateSpecificCulture("tr-TR"))TL</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="cart-buttons">
                                                        <a class="btn-cart btn" href="@Url.Action("Index","ShoppingCart")"><i class="fa"></i><span>Sepetime Git</span></a>
                                                        <a class="btn-checkout btn" href="@Url.Action("Index","ShoppingCart")"><i class="fa"></i><span>Kasaya Git</span></a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <p class="text-center cart-empty">Alışveriş sepetiniz boş!</p>
                                            </li>
                                        }

                                    </ul>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desktop-main-menu-wrapper menu-stretch navbar-nav">
                    <div class="menu-trigger menu-item main-menu-item">
                        <ul class="j-menu">
                            <li><a>Menu</a></li>
                        </ul>
                    </div>


                    <div id="main-menu" class="main-menu main-menu-3">
                        <ul class="j-menu">
                            @foreach (var anaKategori in ViewBag.AnaKategori)
                            {
                                var altKategoriler = (ViewBag.AltKategori as IEnumerable<UrunAltKategori>) ?? Enumerable.Empty<UrunAltKategori>();
                                var relatedAltKategoriler = altKategoriler.Where(x => x.UrunAnaKategoriId == anaKategori.Id).ToList();
                                var collapseId = $"collapse-{anaKategori.Id}"; // Basitleştirilmiş ID

                                <li class="menu-item main-menu-item main-menu-item-@anaKategori.Id multi-level dropdown drop-menu">
                                    <a href="@Url.Action("Index", "Products", new { anaKategoriId = anaKategori.Id })" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="links-text">@anaKategori.Adi</span>
                                        @if (relatedAltKategoriler.Any())
                                        {
                                            <span class="open-menu collapsed" data-toggle="collapse" data-target="#@collapseId"><i class="fa fa-plus"></i></span>
                                        }
                                    </a>
                                    @if (relatedAltKategoriler.Any())
                                    {
                                        <div class="dropdown-menu j-dropdown" id="@collapseId">
                                            <ul class="j-menu">
                                                @foreach (var altKategori in relatedAltKategoriler)
                                                {
                                                    var altProductCount = altKategori.UrunStoklari?.Count ?? 0; // Ürün sayısı

                                                    <li class="menu-item menu-item-c@altKategori.Id">
                                                        <a href="@Url.Action("Index", "Products", new { anaKategoriId = anaKategori.Id, altKategoriId = altKategori.Id })">
                                                            <span class="links-text">@altKategori.Adi</span>
                                                            <span class="count-badge @(altProductCount == 0 ? "count-zero" : "")">@altProductCount</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </li>
                            }
                            <li class="menu-item main-menu-item main-menu-item-8 multi-level drop-menu">
                                <a href="@Url.Action("Index", "Products")">
                                    <span class="links-text">Toptan</span>
                                </a>
                            </li>
                            <li class="menu-item main-menu-item main-menu-item-11 multi-level drop-menu">
                                <a href="@Url.Action("Index", "Products")">
                                    <span class="links-text">Tüm Ürünler</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mobile-header mobile-default mobile-2">
                <div class="mobile-top-bar">
                    <div class="mobile-top-menu-wrapper">
                        <div class="top-menu top-menu-13">
                            <ul class="j-menu">
                                <li class="menu-item top-menu-item top-menu-item-1">
                                    <a href="@Url.Action("Index","LoginMember")"><span class="links-text">Giriş Yap</span></a>
                                </li>

                                <li class="menu-item top-menu-item top-menu-item-2">
                                    <a href="@Url.Action("Index","CreateAccount")"><span class="links-text">Üye Ol</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mobile-bar sticky-bar">
                    <div class="menu-trigger">
                        <button><span>Menu</span></button>
                    </div>
                    <div class="mobile-logo-wrapper"></div>
                    <a class="mobile-custom-menu mobile-custom-menu-2" href="@Url.Action("Index","ShoppingList")"> <span class="links-text"></span><span class="count-badge count-zero wishlist-badge">0</span> </a>
                    <div class="mobile-cart-wrapper mini-cart"></div>
                </div>
                <div class="mobile-bar-group mobile-search-group">
                    <div class="mobile-search-wrapper full-search"></div>
                </div>
            </div>
        </header>

        @RenderBody()


        <footer>
            <div class="grid-rows">
                <div class="grid-row grid-row-2">
                    <div class="grid-cols">
                        <div class="grid-col grid-col-1">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="icons-menu icons-menu-228">
                                        <ul>
                                            <li class="menu-item icons-menu-item icons-menu-item-1 icon-menu-image">
                                                <a>
                                                    <img src="/WebUITheme/image/cache/catalog/Adsız tasarım (42)-1471x90w.png"
                                                    srcset="/WebUITheme/image/cache/catalog/Adsız tasarım (42)-1471x90w.png 1x,/WebUITheme/image/cache/catalog/Adsız tasarım (42)-2942x180w.png 2x"
                                                    width="1471"
                                                    height="90"
                                                    alt=""
                                                    class="info-block-img" />
                                                    <span class="links-text"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row grid-row-3">
                    <div class="grid-cols">
                        <div class="grid-col grid-col-1">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="links-menu links-menu-386">
                                        <h3 class="title module-title">Kurumsal</h3>
                                        <ul class="module-body">
                                            <li class="menu-item links-menu-item links-menu-item-3">
                                                <a href="@Url.Action("Index","About")">
                                                    <span class="links-text">Hakkımızda</span>
                                                </a>
                                            </li>

                                            <li class="menu-item links-menu-item links-menu-item-4">
                                                <a href="@Url.Action("Index","Contact")">
                                                    <span class="links-text">İletişim</span>
                                                </a>
                                            </li>
                                            <li class="menu-item links-menu-item links-menu-item-4">
                                                <a href="@Url.Action("Index","Login")">
                                                    <span class="links-text">Kurumsal</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="grid-item grid-item-2">
                                    <div class="icons-menu icons-menu-61">
                                        <ul>
                                            <li class="menu-item icons-menu-item icons-menu-item-1 icon-menu-icon">
                                                <a data-toggle="tooltip" data-tooltip-class="icons-menu-tooltip-61" data-placement="top" title="Instagram" href="https://www.instagram.com/tanim_dijital/" target="_blank">
                                                    <span class="links-text">Instagram</span>
                                                </a>
                                            </li>
                                            <li class="menu-item icons-menu-item icons-menu-item-2 icon-menu-icon">
                                                <a data-toggle="tooltip" data-tooltip-class="icons-menu-tooltip-61" data-placement="top" title="Facebook" href="https://www.facebook.com/tanim.dijital/" target="_blank">
                                                    <span class="links-text">Facebook</span>
                                                </a>
                                            </li>
                                        
                                        </ul>
                                    </div>
                                </div>
                                <div class="grid-item grid-item-3">
                                    <div class="icons-menu icons-menu-494">
                                        <ul>
                                            <li class="menu-item icons-menu-item icons-menu-item-1 icon-menu-image">
                                                <a>
                                                    <img src="/WebUITheme/image/cache/catalog/14 (2)-99x44w.png"
                                                    srcset="/WebUITheme/image/cache/catalog/14 (2)-99x44w.png 1x, /WebUITheme/image/cache/catalog/14 (2)-198x88w.png 2x"
                                                    width="99"
                                                    height="44"
                                                    alt=""
                                                    class="info-block-img" />
                                                    <span class="links-text"></span>
                                                </a>
                                            </li>
                                            <li class="menu-item icons-menu-item icons-menu-item-2 icon-menu-image">
                                                <a>
                                                    <img src="/WebUITheme/image/cache/catalog/14 (3)-99x44w.png"
                                                    srcset="/WebUITheme/image/cache/catalog/14 (3)-99x44w.png 1x, /WebUITheme/image/cache/catalog/14 (3)-198x88w.png 2x"
                                                    width="99"
                                                    height="44"
                                                    alt=""
                                                    class="info-block-img" />
                                                    <span class="links-text"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-col-2">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="links-menu links-menu-72">
                                        <h3 class="title module-title">Sözleşmeler</h3>
                                        <ul class="module-body">
                                            <li class="menu-item links-menu-item links-menu-item-1">
                                                <a href="@Url.Action("Index","UsersSubscribeContract")">
                                                    <span class="links-text">Üyelik Sözleşmesi</span>
                                                </a>
                                            </li>

                                            <li class="menu-item links-menu-item links-menu-item-2">
                                                <a href="@Url.Action("Index","SecurityPolicy")">
                                                    <span class="links-text">Gizlilik Politikası</span>
                                                </a>
                                            </li>

                                            <li class="menu-item links-menu-item links-menu-item-3">
                                                <a href="@Url.Action("Index","UsedRules")">
                                                    <span class="links-text">Kullanım Koşulları</span>
                                                </a>
                                            </li>

                                            <li class="menu-item links-menu-item links-menu-item-4">
                                                <a href="@Url.Action("Index","RebateRules")">
                                                    <span class="links-text">İade Şartları</span>
                                                </a>
                                            </li>

                                            <li class="menu-item links-menu-item links-menu-item-5">
                                                <a href="@Url.Action("Index","SuppliersContract")">
                                                    <span class="links-text">Bayilik Sözleşmesi</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-col-3">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="links-menu links-menu-76">
                                        <h3 class="title module-title">Üye</h3>
                                        @if (ViewBag.Uyeler != null)
                                        {
                                            <ul class="module-body">
                                                <li class="menu-item links-menu-item links-menu-item-1">
                                                    <a href="@Url.Action("Index","Account")">
                                                        <span class="links-text">Hesabım</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-2">
                                                    <a href="@Url.Action("Index","Orders")">
                                                        <span class="links-text">Siparişlerim</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-3">
                                                    <a href="@Url.Action("Index","Address")">
                                                        <span class="links-text">Adres Bilgilerim</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-5">
                                                    <a href="@Url.Action("Index","ShoppingList")">
                                                        <span class="links-text">Favorilerim</span><span class="count-badge wishlist-badge count-zero">0</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-6">
                                                    <a href="@Url.Action("Index","AddReturnRequest")">
                                                        <span class="links-text">Ürün İadesi</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul class="module-body">
                                                <li class="menu-item links-menu-item links-menu-item-1">
                                                    <a href="@Url.Action("Index","Home")">
                                                        <span class="links-text">Hesabım</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-2">
                                                    <a href="@Url.Action("Index","Home")">
                                                        <span class="links-text">Siparişlerim</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-3">
                                                    <a href="@Url.Action("Index","Home")">
                                                        <span class="links-text">Adres Bilgilerim</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-5">
                                                    <a href="@Url.Action("Index","Home")">
                                                        <span class="links-text">Favorilerim</span><span class="count-badge wishlist-badge count-zero">0</span>
                                                    </a>
                                                </li>

                                                <li class="menu-item links-menu-item links-menu-item-6">
                                                    <a href="@Url.Action("Index","AddReturnRequest")">
                                                        <span class="links-text">Ürün İadesi</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-col-4">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="module module-newsletter module-newsletter-67">
                                        <h3 class="title module-title">E-bültenimize abone ol yeniliklerden haberdar ol.</h3>
                                        <div class="module-body">
                                            <div class="newsletter-form">
                                                <form action="WebUITheme/index.php?route=journal3/newsletter/newsletter&amp;module_id=67" method="post" enctype="multipart/form-data" class="form-horizontal">
                                                    <div class="input-group">
                                                        <input type="text" name="email" placeholder="E-posta adresinizi yazın.." class="form-control newsletter-email" />
                                                        <span class="input-group-btn">
                                                            <button type="submit"
                                                                    class="btn btn-primary"
                                                                    data-toggle="tooltip"
                                                                    data-tooltip-class="newsletter-tooltip-67"
                                                                    data-placement="top"
                                                                    title="abone ol"
                                                                    data-loading-text="<span>Send</span>">
                                                                <span>Send</span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item grid-item-2">
                                    <div class="module module-info_blocks module-info_blocks-415">
                                        <div class="module-body">
                                            @if (ViewBag.Iletisim != null)
                                            {
                                                <div class="module-item module-item-1 info-blocks info-blocks-icon">
                                                    <a href="mailto:info@mirvanogullari.com" class="info-block">
                                                        <div class="info-block-content">
                                                            <div class="info-block-title">Geri Bildirim</div>
                                                            <div class="info-block-text">@ViewBag.Iletisim.Email1</div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="module-item module-item-2 info-blocks info-blocks-icon">
                                                    <a href="tel:+905326375086" class="info-block">
                                                        <div class="info-block-content">
                                                            <div class="info-block-title">Müşteri Hizmetleri</div>
                                                            <div class="info-block-text">@ViewBag.Iletisim.Telefon1</div>
                                                        </div>
                                                    </a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-item grid-item-3">
                                    <div class="module module-info_blocks module-info_blocks-416">
                                        <div class="module-body">
                                            @if (ViewBag.Iletisim != null)
                                            {
                                                <div class="module-item module-item-1 info-blocks info-blocks-icon">
                                                    <div class="info-block">
                                                        <div class="info-block-content">
                                                            <div class="info-block-title">Mağaza Adresi</div>
                                                            <div class="info-block-text"> @ViewBag.Iletisim.Adres </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row grid-row-4">
                    <div class="grid-cols">
                        <div class="grid-col grid-col-1">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="links-menu links-menu-77">
                                        <ul class="module-body">
                                            <li class="menu-item links-menu-item links-menu-item-1">
                                                <a>
                                                    <span class="links-text">Copyright © 2025 &nbsp;<a href="https://speedsoft.com.tr/" target="_blank">Speedsoft</a></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-col grid-col-2">
                            <div class="grid-items">
                                <div class="grid-item grid-item-1">
                                    <div class="icons-menu icons-menu-495">
                                        <ul>
                                            <li class="menu-item icons-menu-item icons-menu-item-1 icon-menu-image">
                                                <a>
                                                    <img src="/WebUITheme/image/cache/catalog/Adsız tasarım (40)-336x33h.png"
                                                         srcset="/WebUITheme/image/cache/catalog/Adsız tasarım (40)-336x33h.png 1x, /WebUITheme/image/cache/catalog/Adsız tasarım (40)-672x66h.png 2x"
                                                         width="336"
                                                         height="33"
                                                         alt=""
                                                         class="info-block-img" />
                                                    <span class="links-text"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- .site-wrapper -->

    <div class="notification-wrapper notification-wrapper-bottom">
        <div class="module module-notification module-notification-137 notification" data-options='{"position":null,"title":"","cookie":"65652e2a"}'>
            <button class="btn notification-close"></button>
            <div class="notification-content">
                <div>
                    <div class="notification-title"></div>
                    <div class="notification-text">
                        Sitemizde sizlere özelleştirilmiş bir hizmet sunmak için çerez kullanılmaktadır. Detaylı bilgi almak için <a style="color: white;" href="@Url.Action("Index","SecurityPolicy")">Gizlilik Politikamızı</a> inceleyiniz.
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    <!-- Giriş Yap Popup -->
    <div id="popup-login" class="popup" style="display: none;">
        <div class="popup-content">
            <button class="close-btn" onclick="closePopup()">X</button>
            <h2>Giriş Yap</h2>
            <form class="bg0 p-t-75" action="/LoginMember/Login" method="post">
                <div class="form-group">
                    <label class="control-label" for="input-email">E-Posta Adresi</label>
                    <input type="text" name="EMail" value="" placeholder="E-Posta Adresi" id="input-email" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="input-password">Parola</label>
                    <input type="password" name="Sifre" value="" placeholder="Parola" id="input-password" class="form-control" />
                    <div><a href="@Url.Action("Index","ForgotPassword")" target="_top">Parolamı Unuttum</a></div>
                </div>
                <div class="buttons">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" data-loading-text="<span>Oturum Aç</span>"><span>Oturum Aç</span></button>
                    </div>
                </div>
                <input type="hidden" name="redirect" value="@Url.Action("Index","Orders")" />
            </form>
        </div>
        <div class="popup-overlay" onclick="closePopup()"></div>
    </div>

    <!-- Üye Ol Popup -->
    <div id="popup-register" class="popup" style="display: none;">
        <div class="popup-content">
            <button class="close-btn" onclick="closePopup()">X</button>
            <h2>Üye Ol</h2>
            <!-- Buraya kayıt formu -->
            <form class="bg0 p-t-75" action="/CreateAccount/Register" method="post">
                <div id="account">
                    <fieldset>
                        <legend>Üyelik Bilgileri</legend>
                        <div class="form-group required account-customer-group"
                             style="display: block">
                            <label class="col-sm-2 control-label">Müşteri Grubu</label>
                            <div class="col-sm-10">
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               name="Turu"
                                               value="1"
                                               checked="checked" />
                                        Bireysel
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                               name="Turu"
                                               value="2" />
                                        Kurumsal
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group required account-firstname">
                            <label class="col-sm-2 control-label" for="input-firstname">Adınız</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="Adi"
                                       value=""
                                       placeholder="Adınız"
                                       id="input-firstname"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required account-lastname">
                            <label class="col-sm-2 control-label" for="input-lastname">Soyadınız</label>
                            <div class="col-sm-10">
                                <input type="text"
                                       name="Soyadi"
                                       value=""
                                       placeholder="Soyadınız"
                                       id="input-lastname"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required account-email">
                            <label class="col-sm-2 control-label" for="input-email">E-Posta</label>
                            <div class="col-sm-10">
                                <input type="email"
                                       name="EMail"
                                       value=""
                                       placeholder="E-Posta"
                                       id="input-email"
                                       class="form-control" />
                            </div>
                        </div>
                        <div class="form-group required account-telephone">
                            <label class="col-sm-2 control-label" for="input-telephone">Telefon</label>
                            <div class="col-sm-10">
                                <input type="tel"
                                       name="Telefon"
                                       value=""
                                       placeholder="Telefon"
                                       id="input-telephone"
                                       class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
                <fieldset>
                    <legend>Parolanız</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label account-pass"
                               for="input-password">Parola</label>
                        <div class="col-sm-10">
                            <input type="password"
                                   name="Sifre"
                                   value=""
                                   placeholder="Parola"
                                   id="input-password"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required account-pass2">
                        <label class="col-sm-2 control-label" for="input-confirm">Parola(Tekrar)</label>
                        <div class="col-sm-10">
                            <input type="password"
                                   name="Sifre2"
                                   value=""
                                   placeholder="Parola(Tekrar)"
                                   id="input-confirm"
                                   class="form-control" />
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Bülten Aboneliği</legend>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Bülten Aboneliği</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="EBulten" value="1" />
                                Evet
                            </label>
                            <label class="radio-inline">
                                <input type="radio"
                                       name="EBulten"
                                       value="0"
                                       checked="checked" />
                                Hayır
                            </label>
                        </div>
                    </div>
                </fieldset>

                <div class="buttons">
                    <div class="pull-right">
                        <a href="@Url.Action("Index","SecurityPolicy")" target="_blank"
                           ><b>Gizlilik Politikası</b></a>'ni okudum ve kabul ediyorum.
                        <input type="checkbox" name="agree" value="1" />
                        <button type="submit"
                                class="btn btn-primary"
                                data-loading-text="<span>Devam</span>">
                            <span>Devam</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="popup-overlay" onclick="closePopup()"></div>
    </div>

    <style>
        /* Popup kapalıyken görünmez */
        .popup {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.5);
            z-index: 9999;
            display: none;
        }

        /* İçerik */
        .popup-content {
            position: relative;
            width: 400px;
            margin: 100px auto;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            z-index: 10000;
        }

        /* Kapatma butonu */
        .close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            border: none;
            background: transparent;
            font-size: 20px;
            cursor: pointer;
        }

        /* Arka plan (tıklayınca kapanır) */
        .popup-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        /* Body scroll kilitleme */
        body.popup-open {
            overflow: hidden;
        }
    </style>


    <script>
        let currentPopup = null;
        
        // Popup açma fonksiyonu
        function openPopup(type) {
            closePopup(); // Varsa önce kapat
            if (type === 'login') {
                currentPopup = document.getElementById('popup-login');
            } else if (type === 'register') {
                currentPopup = document.getElementById('popup-register');
            }

            if (currentPopup) {
                currentPopup.style.display = 'block';
                document.body.classList.add('popup-open');
            }
        }

        // Popup kapama fonksiyonu
        function closePopup() {
            if (currentPopup) {
                currentPopup.style.display = 'none';
                currentPopup = null;
            }
            document.body.classList.remove('popup-open');
        }

        // Sayfa yüklendiğinde çalışır
        document.addEventListener('DOMContentLoaded', function () {
            // Sadece popup-register içindeki formu hedefle
            var registerForm = document.querySelector('#popup-register form');
            var passwordInput = document.querySelector('#popup-register #input-password');
            var confirmInput = document.querySelector('#popup-register #input-confirm');

            // Kayıt formu varsa, parolaları kontrol et
            if (registerForm && passwordInput && confirmInput) {
                registerForm.addEventListener('submit', function (e) {
                    var password = passwordInput.value.trim();
                    var confirm = confirmInput.value.trim();

                    if (password !== confirm) {
                        e.preventDefault();
                        alert("Parolalar eşleşmiyor!");
                        confirmInput.focus();
                    }
                });
            }
        });
    </script>



    @RenderSection("Script", false)


</body>
</html>
